/* FONT ARIAL NOVA REGULAR + BOLD */
@import url(//db.onlinewebfonts.com/c/9caf965400ad4def18b1100102b5b81e?family=Arial+Nova);
@font-face {font-family: "Arial Nova"; src: url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.eot"); src: url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.woff") format("woff"), url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9caf965400ad4def18b1100102b5b81e.svg#Arial Nova") format("svg"); }
@import url(//db.onlinewebfonts.com/c/ce953f6e2e71e5dd538b50ff7a841c7e?family=Arial+Nova);

/* GENERAL */
* {
    box-sizing: border-box;
    margin:0;
    font-family: Arial Nova;
    
}

body
{
    background-color: #f6f8f9;
}


/* NAV AREA */



.logo {
    margin-top:1px;
    padding-bottom:10px;
    padding-top:10px;
    font-size:45px;
    font-weight: bolder;
    margin-left:20px;
}

img {
    vertical-align: top;
}

/* CONTENT AREA */
main {
    width: 65%;
    height:3000px;
    margin: 50px auto;
}

.content {
    height: 70%;
    margin:20px auto;
}

/* TASK AREA SECTION */
.taskbar {
height:50px;
margin-bottom:2px;
border-radius: 5px 5px 0 0;
}

/* TASK LIST SECTION */
.tasklist {
    border-radius: 0 0 5px 5px;
}

.tasklist {
    padding-top:40px;
    padding-left:40px;
}

/* TASKLIST TITLES */
.tasklist div h3{
    font-weight: bold;
    font-size:20px;
    margin-bottom:10px;
}

/* TASKLIST CONTENT */
.tasklist div h3 span
{
    font-size:13px;
}

.tasklist ul {
    display:block;
    list-style-type:none;
    padding-left: 0;
    text-indent: 0;
    font-size:18px;

}

.tasklist ul li {
    padding-bottom:20px;
}

/* BG COLOR AREA */

.bg-lightblue {
    background-color:#47adf1
}

.bg-white{
    background-color:white;
}

.bg-lavanda {
    background-color:#9c72e4
}

.bg-green {
    background-color:#64c0a9
}

.bg-paleviolet {
    background-color:#d863a1
}

/* COLOR SECTION */
.white{
    color:white;
}

.grey
{
    color:#c3cacf
}